./Client/Client/bin/
./Server/Server/bin/

Client/Client/bin/Debug/Client.exe
Client/Client/bin/Debug/Client.exe.config
Client/Client/bin/Debug/Client.pdb
Client/Client/bin/Debug/Client.vshost.exe
Client/Client/bin/Debug/Client.vshost.exe.config
Client/Client/bin/Debug/Client.vshost.exe.manifest
Client/Client/bin/Release/Client.exe
Client/Client/bin/Release/Client.exe.config
Client/Client/bin/Release/Client.pdb
Client/Client/bin/Release/Client.vshost.exe
Client/Client/bin/Release/Client.vshost.exe.config
Client/Client/bin/Release/Client.vshost.exe.manifest
Client/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
Client/Client/obj/Debug/Client.csproj.GenerateResource.Cache
Client/Client/obj/Debug/Client.exe
Client/Client/obj/Debug/Client.Form1.resources
Client/Client/obj/Debug/Client.pdb
Client/Client/obj/Debug/Client.Properties.Resources.resources
Client/Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Client/Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Client/Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Client/Client/obj/Release/Client.csproj.FileListAbsolute.txt
Client/Client/obj/Release/Client.csproj.GenerateResource.Cache
Client/Client/obj/Release/Client.exe
Client/Client/obj/Release/Client.Form1.resources
Client/Client/obj/Release/Client.pdb
Client/Client/obj/Release/Client.Properties.Resources.resources
Client/Client/obj/Release/DesignTimeResolveAssemblyReferences.cache
Client/Client/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Client/Client/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Client/Client/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Client/Client/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
